# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# IDE / Editor files
.idea/
*.iml
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment / Secrets
.env
*.key
*.pem

# Cache / temporary folders
.cache/
*.log

# Ignore all image data
*.jpg
*.png

#Ignore all previsouly saved model
model_save/*

#Include all folder that stores input and output data
!*about_the_folder*